NiFi_Flow.json
{"flowContents":{"identifier":"ebe25ff6-451a-347a-9c33-35f22a04a1ad","instanceIdentifier":"3d9625d5-018f-1000-e239-94020089ecd7","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"bfd3a7f5-01b5-3f96-8c1a-2d5df758a678","instanceIdentifier":"3d98955a-018f-1000-e648-b2664a64a85a","name":"RouteOnContent","comments":"","position":{"x":232.0,"y":240.0},"type":"org.apache.nifi.processors.standard.RouteOnContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Content Buffer Size":"1 MB","Match Requirement":"content must contain match","errortext":"ERROR","Character Set":"UTF-8"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false},"errortext":{"name":"errortext","displayName":"errortext","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ebe25ff6-451a-347a-9c33-35f22a04a1ad"},{"identifier":"54fad99a-a38f-30e7-815a-293ce323fce6","instanceIdentifier":"3d9a57d0-018f-1000-fcee-ea0fc8adcedc","name":"PublishKafka_2_6","comments":"","position":{"x":933.0,"y":-20.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.18.0"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"broker:29092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"topic-1","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ebe25ff6-451a-347a-9c33-35f22a04a1ad"},{"identifier":"3d92aef6-d84c-3a76-be44-1700b5d5bca2","instanceIdentifier":"3d993a12-018f-1000-44e5-db7b25f5fa93","name":"MergeContent","comments":"","position":{"x":944.0,"y":256.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"500","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":"90s","Demarcator File":"\n","Correlation Attribute Name":"RouteOnContent","Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ebe25ff6-451a-347a-9c33-35f22a04a1ad"},{"identifier":"cac4b61c-68f5-3472-94f8-3d8ceda6dd8c","instanceIdentifier":"3d9879d6-018f-1000-3dae-bebd2cd9a4f3","name":"ListenHTTP","comments":"","position":{"x":232.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"loglistener","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","Max Data to Receive per Second":null,"client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"8081"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ebe25ff6-451a-347a-9c33-35f22a04a1ad"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f8ba093a-efa6-38d9-914b-e98888fc9f3c","instanceIdentifier":"3d996de2-018f-1000-4ad3-d6da8e5c8e50","name":"","source":{"id":"bfd3a7f5-01b5-3f96-8c1a-2d5df758a678","type":"PROCESSOR","groupId":"ebe25ff6-451a-347a-9c33-35f22a04a1ad","name":"RouteOnContent","comments":"","instanceIdentifier":"3d98955a-018f-1000-e648-b2664a64a85a"},"destination":{"id":"3d92aef6-d84c-3a76-be44-1700b5d5bca2","type":"PROCESSOR","groupId":"ebe25ff6-451a-347a-9c33-35f22a04a1ad","name":"MergeContent","comments":"","instanceIdentifier":"3d993a12-018f-1000-44e5-db7b25f5fa93"},"labelIndex":1,"zIndex":0,"selectedRelationships":["errortext"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ebe25ff6-451a-347a-9c33-35f22a04a1ad"},{"identifier":"14b4da89-5ce1-3795-9e6e-5e07d20296f4","instanceIdentifier":"3d9ee107-018f-1000-642c-c902dccec23f","name":"","source":{"id":"3d92aef6-d84c-3a76-be44-1700b5d5bca2","type":"PROCESSOR","groupId":"ebe25ff6-451a-347a-9c33-35f22a04a1ad","name":"MergeContent","comments":"","instanceIdentifier":"3d993a12-018f-1000-44e5-db7b25f5fa93"},"destination":{"id":"54fad99a-a38f-30e7-815a-293ce323fce6","type":"PROCESSOR","groupId":"ebe25ff6-451a-347a-9c33-35f22a04a1ad","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"3d9a57d0-018f-1000-fcee-ea0fc8adcedc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ebe25ff6-451a-347a-9c33-35f22a04a1ad"},{"identifier":"e14fae8c-523d-30c9-9ae7-2e842ef4a31f","instanceIdentifier":"3d98e94a-018f-1000-8c2e-e705d6512493","name":"","source":{"id":"cac4b61c-68f5-3472-94f8-3d8ceda6dd8c","type":"PROCESSOR","groupId":"ebe25ff6-451a-347a-9c33-35f22a04a1ad","name":"ListenHTTP","comments":"","instanceIdentifier":"3d9879d6-018f-1000-3dae-bebd2cd9a4f3"},"destination":{"id":"bfd3a7f5-01b5-3f96-8c1a-2d5df758a678","type":"PROCESSOR","groupId":"ebe25ff6-451a-347a-9c33-35f22a04a1ad","name":"RouteOnContent","comments":"","instanceIdentifier":"3d98955a-018f-1000-e648-b2664a64a85a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ebe25ff6-451a-347a-9c33-35f22a04a1ad"},{"identifier":"835ddb5a-f789-39df-860a-f16b89308c3c","instanceIdentifier":"3d9f355f-018f-1000-084b-ed854f1f2544","name":"","source":{"id":"54fad99a-a38f-30e7-815a-293ce323fce6","type":"PROCESSOR","groupId":"ebe25ff6-451a-347a-9c33-35f22a04a1ad","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"3d9a57d0-018f-1000-fcee-ea0fc8adcedc"},"destination":{"id":"f535af90-c52d-3b07-872e-a22c381012ba","type":"FUNNEL","groupId":"ebe25ff6-451a-347a-9c33-35f22a04a1ad","name":"Funnel","comments":"","instanceIdentifier":"3d9f265a-018f-1000-e5e1-a45fd35d8579"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ebe25ff6-451a-347a-9c33-35f22a04a1ad"},{"identifier":"55f83324-0959-3509-870b-4cf07772ea64","instanceIdentifier":"3d9f408e-018f-1000-8ec1-b488fab0e501","name":"","source":{"id":"54fad99a-a38f-30e7-815a-293ce323fce6","type":"PROCESSOR","groupId":"ebe25ff6-451a-347a-9c33-35f22a04a1ad","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"3d9a57d0-018f-1000-fcee-ea0fc8adcedc"},"destination":{"id":"f535af90-c52d-3b07-872e-a22c381012ba","type":"FUNNEL","groupId":"ebe25ff6-451a-347a-9c33-35f22a04a1ad","name":"Funnel","comments":"","instanceIdentifier":"3d9f265a-018f-1000-e5e1-a45fd35d8579"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":864.0,"y":-112.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ebe25ff6-451a-347a-9c33-35f22a04a1ad"},{"identifier":"50ff45a6-0596-3c84-8fd6-d3fc21b344a5","instanceIdentifier":"3d9f0874-018f-1000-9d27-6f91d91dfdea","name":"","source":{"id":"3d92aef6-d84c-3a76-be44-1700b5d5bca2","type":"PROCESSOR","groupId":"ebe25ff6-451a-347a-9c33-35f22a04a1ad","name":"MergeContent","comments":"","instanceIdentifier":"3d993a12-018f-1000-44e5-db7b25f5fa93"},"destination":{"id":"54fad99a-a38f-30e7-815a-293ce323fce6","type":"PROCESSOR","groupId":"ebe25ff6-451a-347a-9c33-35f22a04a1ad","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"3d9a57d0-018f-1000-fcee-ea0fc8adcedc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1376.0,"y":184.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ebe25ff6-451a-347a-9c33-35f22a04a1ad"},{"identifier":"e5ac4e4e-b690-3eab-bf04-fbeddb25581e","instanceIdentifier":"3d9eebd0-018f-1000-b1d5-d8c3c08a5e7f","name":"","source":{"id":"3d92aef6-d84c-3a76-be44-1700b5d5bca2","type":"PROCESSOR","groupId":"ebe25ff6-451a-347a-9c33-35f22a04a1ad","name":"MergeContent","comments":"","instanceIdentifier":"3d993a12-018f-1000-44e5-db7b25f5fa93"},"destination":{"id":"54fad99a-a38f-30e7-815a-293ce323fce6","type":"PROCESSOR","groupId":"ebe25ff6-451a-347a-9c33-35f22a04a1ad","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"3d9a57d0-018f-1000-fcee-ea0fc8adcedc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":776.0,"y":160.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ebe25ff6-451a-347a-9c33-35f22a04a1ad"},{"identifier":"65db3405-bad3-3725-87b4-438edf760ef4","instanceIdentifier":"3d998ac0-018f-1000-de48-b84a53aac106","name":"","source":{"id":"bfd3a7f5-01b5-3f96-8c1a-2d5df758a678","type":"PROCESSOR","groupId":"ebe25ff6-451a-347a-9c33-35f22a04a1ad","name":"RouteOnContent","comments":"","instanceIdentifier":"3d98955a-018f-1000-e648-b2664a64a85a"},"destination":{"id":"3d92aef6-d84c-3a76-be44-1700b5d5bca2","type":"PROCESSOR","groupId":"ebe25ff6-451a-347a-9c33-35f22a04a1ad","name":"MergeContent","comments":"","instanceIdentifier":"3d993a12-018f-1000-44e5-db7b25f5fa93"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":772.0,"y":229.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ebe25ff6-451a-347a-9c33-35f22a04a1ad"}],"labels":[],"funnels":[{"identifier":"f535af90-c52d-3b07-872e-a22c381012ba","instanceIdentifier":"3d9f265a-018f-1000-e5e1-a45fd35d8579","position":{"x":1048.0,"y":-272.0},"componentType":"FUNNEL","groupIdentifier":"ebe25ff6-451a-347a-9c33-35f22a04a1ad"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}